<% limit = 3 %>
<% truncate = local_assigns[:truncate] == true %>
<% scope = truncate ? list.tasks.completed.limit(limit) : list.tasks.completed %>

<div id="<%= dom_id(list, :completed_tasks) %>">
  <% scope.each do |task| %>
    <%= render(InnerPlan::Tasks::RowComponent.new(task, context: local_assigns[:context])) %>
  <% end %>

  <% if truncate %>
    <% completed_tasks_count = list.tasks.completed.count %>

    <% if (completed_tasks_count - limit).positive? %>
      <div class="mt-2 ms-tasks-element">
        <a href="#" class="text-body-tertiary">And <%= completed_tasks_count - limit %> more completed to-dos...</a>
      </div>
    <% end %>
  <% end %>
</div>
