<% limit = 3 %>
<% truncate = local_assigns[:truncate] == true %>
<% scope = truncate ? list.tasks.completed.limit(limit) : list.tasks.completed %>

<div id="<%= dom_id(list, :completed_tasks) %>">
  <% scope.each do |task| %>
    <%= render partial: 'inner_plan/tasks/task', locals: { task: task }, formats: [:html] %>
  <% end %>

  <% if truncate %>
    <% tasks_count_diff = list.tasks_count - list.completed_tasks_count %>
    <% if (list.completed_tasks_count - limit).positive? %>
      <div class="mt-2 ms-tasks-element">
        <a href="#" class="text-body-tertiary">And <%= list.completed_tasks_count - limit %> more completed to-dos...</a>
      </div>
    <% end %>
  <% end %>
</div>
