<turbo-frame id="<%= dom_id(@list, :add_task) %>">
  <%= form_with model: [@list, local_assigns[:task] || @task] do |f| %>
    <div class="d-flex w-100 mb-1">
      <div class="align-top me-2 text-muted invisible" style="margin-top:-0.05rem">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="20" height="20" stroke-width="2">
          <path d="M9 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
          <path d="M9 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
          <path d="M9 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
          <path d="M15 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
          <path d="M15 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
          <path d="M15 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
        </svg>
      </div>

      <div class="align-top me-2" style="width:2rem; height: 2rem; margin-top: -0.12rem">
        <button class="btn p-0 opacity-50">
          <%= render(Phlex::Icons::Tabler::SquareRounded.new(width: 24, height: 24)) %>
        </button>
      </div>

      <div class="form-check-label ms-1 w-100">
        <%= f.text_field :title, autofocus: true, class: 'form-control w-100' %>
      </div>
    </div>
  <% end %>
</turbo-frame>
