<div class="progress mt-2" role="progressbar" style="height: 2px;" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar bg-success" style="width: <%= percent(completed_count, total_count) %>%"></div>
</div>
