<header class="mb-5">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1 class="h2 text-center">
        Tasks
        <small class="fs-6 text-body-tertiary">
          <%= InnerPlan::Task.completed.count %>/<%= InnerPlan::Task.all.count %>
        </small>
      </h1>
    </div>
  </div>

  <div class="progress mt-2" role="progressbar" style="height: 2px;" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar" style="width: <%= percent(InnerPlan::Task.completed.count, InnerPlan::Task.all.count) %>%"></div>
  </div>
</header>

<div data-controller="tasks-tree">
  <% @lists.each do |list| %>
    <%= render partial: 'inner_plan/lists/list', locals: { list: list } %>
  <% end %>
</div>
